@(posts: List[service.ContentService.DayPost])

<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl-PL" xml:lang="pl-PL">
<head>
  <title>On Jest</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
  <link href="page_styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<h2>Lectio Divina</h2>
<h3>Modlitwa ze Słowem Bożym</h3>
<p>Wspólnota Ruchu Światło-Życie</p>
<p><a href="http://www.onjest.pl/slowo">http://www.onjest.pl/slowo</a></p>
<p>rozważania: @posts.head.formattedDate - @posts.last.formattedDate </p>
<hr/>
<div id="toc">
  <ul>
    @for(post <- posts) {
    <li><a href='#@post.formattedDate'>@post.formattedDate</a></li>
    }
  </ul>
</div>
<div class="pagebreak"></div>
<hr/>
<div class="pagebreak"></div>

@for(post <- posts) {
<h2 id=@post.formattedDate>@post.title</h2><hr/>
@Html(post.content)
<div class="pagebreak"></div>
}

</body></html>
